.user {
    max-width: 300px;
    width: 1000px;
    background-color: #0740bd;
    display: flex;
    flex-direction: column;
    gap: 3px;
    border-radius: 10px;
    -webkit-box-shadow: -1px 8px 28px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 8px 28px -3px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 8px 28px -3px rgba(0, 0, 0, 0.75);
    position: relative;
    cursor: pointer;
    img {
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }
}

.userText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 7px;
    padding: 10px;
    span {
        position: absolute;
        top: 10px;
        left: 10px;
        background-color: #ffffff;
        padding: 7px 10px;
        border-radius: 50%;
        font-size: 14px;
    }
    .name {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        font-size: 16px;
        color: #fff;
    }
    .informat {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
    }
}